.acc_card_main{
    width: 220px;
    height: 130px;
    background-color: #5963f0;
    border-radius: 5px;
    color: #FFFFFF;
    box-shadow: 5px 5px 8px #b9bcee;
    margin-right: 10px;
}
.acc_card_secondary{
    width: 200px;
    height: 114px;
    background-color: #5963f0;
    border-radius: 5px;
    color: #FFFFFF;
    box-shadow: 5px 5px 8px #b9bcee;
    margin-right: 10px;
}
.acc_card_secondary_half{
    width: 200px;
    height: 114px;
    background-color: #5963f0;
    border-radius: 5px;
    color: #FFFFFF;
    box-shadow: 5px 5px 8px #b9bcee;
    margin-right: -100px;
}
.accounts_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
}
@media all and (max-width: 760px) {
    .accounts_container {
        width: 100%;
    }
}
.sub_titles_acc{
    font-size: 14px;
    font-weight: 600;
    -ms-flex-item-align: left;
    align-self: left;
    padding-left: 10px;
}
.card_container{
    overflow-x: hidden;
    margin-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.acc_name{
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 14px;
}
.card_number{
    padding-left: 15px;
    padding-top: 14px;
    text-align: left;
}
.card_add_details{
    font-size: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 15px;
    margin-top: 25px;
    padding-left: 15px;
   
}
.card_type{
    color: #abc5ff;
}